{% extends "base.html" %}
{%block style %}
<style>
.site-header{
  text-align: right;
  color: #ffffff;
}

.registration{
    color: blue;
}

.come{
    color: red;
}

.features {
  text-align: center;
}

.advantages-list {
  padding: 0;
  list-style: 20;
  text-align: left;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #e2e2e2;
  color: #999999;
}

.standard {
  border-color: #091F92;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
}

.color {
  color: blue;
  font-size: 20px;
}
    </style>
{% endblock %}
{% block content %}
<h1 class="features">Темы</h1>
<div>
<section class="advantages">
    <p>
        <ul class="advantages-list">
            <li><a class="btn color" href="/cosmoexample">День День космонавтики</a></li>
            <img src="cosmo.png" alt="">
            <li><a class="btn color" href="/cosmoexample">День земли</a></li>
            <li><a class="btn color" href="/cosmoexample">Медиаграмотность и цифровая гигиена</a></li>
            <li><a class="btn color" href="/cosmoexample">День музыки</a></li>
        </ul>
    </p>
</section>
</div>
{% endblock %}