{% extends "base.html" %}
{%block style %}
    <style>
.site-header{
  text-align: right;
  color: #ffffff;
}

.registration{
    color: blue;
}

.come{
    color: red;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 18px;
}

.advantages-list {
  padding: 0;
  list-style: 20;
  text-align: left;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #e2e2e2;
  color: #999999;
}

.standard {
  border-color: #091F92;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
}
</style>
{% endblock %}
{% block content %}
      <h1>День народного единства</h1>
    <section class="advantages">
    <p>
        <img src="img\big_cover_03_earthday.png" width="310" height="210">
        <img src="img/big_cover_10_spaceday2.png" width="310" height="210">
        <img src="img/big_cover_23_media.png" width="310" height="210">
    </p>
    </section>

    <section class="material">
    <p>День наро́дного еди́нства — российский государственный праздник, отмечаемый 4 ноября, начиная с 2005 года. В этот
        день установлен день воинской славы России.</p>

<p>В XX и XXI веках дню 22 октября по юлианскому календарю соответствует в григорианском календаре 4 ноября. Именно эта
    дата — 22 октября по юлианскому календарю, или 4 ноября по григорианскому календарю — выбрана в качестве дня государственного
    праздника. Однако к историческим событиям, произошедшим в этот день в 1612 году, он не имеет прямого отношения.</p>

<p>После введения поправки к Трудовому кодексу и появления нового праздника в обществе разгорелась бурная дискуссия.
    Dысказывались мнения, что праздник 4 ноября не имеет никакой исторической связи с описанными выше событиями,
    приводились рассуждения о способе датирования старых праздников в новом стиле. Все эти мнения сводятся к одному: в
    целях отмены советского праздника Великой Октябрьской социалистической революции, а также досрочного завершения работы
    над законопроектом была выбрана дата 4 ноября.</p>

<p>Также отмечалось, что День народного единства — это воскрешённый государственный праздник, учреждённый в 1649 году указом
    царя Алексея Михайловича. По этому указу церковный праздник Казанской иконы Божией Матери приобретает статус государственного.
    С приходом советской власти традиция отмечать освобождение Москвы прервалась.</p>

<p>Некоторые политологи и политические деятели также высказывались о празднике. Их мнения по этому вопросу расходятся.
    Звучали слова и о том, что новый праздник не приживётся в России, и о том, что День народного единства имеет хорошие
    перспективы в будуще.</p>
<hr align="center" width="100%" size="3" color="#dddddd" />
    </section>
    <p>
Комментарии:
    </p>
<p><a class="btn btn-secondary" href="/index">Назад</a></p>
{% endblock %}