{% extends 'base.html' %}
{% block style %}
.site-header{
  text-align: left;
  font-size: 19px
}

.advantages {
  line-height: 5px;
  text-align: left;
  font-size: 18px;
}

.colortext {
     color: red;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
}
{% endblock %}
{% block body %}
<header class="site-header">
      <p>Регистрация:</p>
    </header>

    <section class="advantages">
<div>
<p><span class="colortext">*</span>Почта</p>
<form method="post" action="handler.php">
   <p class="g"><textarea name="mail" cols="50" rows="1">
   </textarea></p>
</form>
<p><span class="colortext">*</span>Имя пользователя(его будут видеть другие участники)</p>
<form method="post" action="handler.php">
   <p><textarea name="name" cols="50" rows="1">
   </textarea></p>
</form>
<p><span class="colortext">*</span>Пароль</p>
<form method="post" action="handler.php">
   <p><textarea name="password" cols="50" rows="1">
   </textarea></p>
</form>
<p><span class="colortext">*</span>Подтвердите пароль</p>
<form method="post" action="handler.php">
   <p><textarea name="password_copy" cols="50" rows="1">
   </textarea></p>
</form>
</div>
<ul class="hr">
   <li><input type="button" value="Отмена"></li>
   <li><input type="button" value="Ок"></li>
  </ul>
    </section>
{% endblock %}
