{% extends "base.html" %}
{%block style %}
    <style>
.site-header{
  text-align: right;
  color: #ffffff;
}

.registration{
    color: blue;
}

.come{
    color: red;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 18px;
}

.advantages-list {
  padding: 0;
  list-style: 20;
  text-align: left;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #e2e2e2;
  color: #999999;
}

.standard {
  border-color: #091F92;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
}
</style>
{% endblock %}
{% block content %}
      <h1>Новый год</h1>
    <section class="advantages">
    <p>
        <img src="img\big_cover_03_earthday.png" width="310" height="210">
        <img src="img/big_cover_10_spaceday2.png" width="310" height="210">
        <img src="img/big_cover_23_media.png" width="310" height="210">
    </p>
    </section>

    <section class="material">
    <p>Новый год — главный календарный праздник, наступающий в момент перехода с последнего дня текущего года в первый день
        следующего года. Отмечается многими народами в соответствии с принятым календарём. Начало года с 1 января было
        установлено римским правителем Юлием Цезарем в 46 году до нашей эры. В Древнем Риме этот день был посвящён Янусу —
        богу выбора, дверей и всех начал. Январь получил своё название в честь бога Януса, которого изображали с двумя лицами:
        одно смотрело вперёд, а другое — назад.</p>

<p>Большинство стран отмечает Новый год 1 января, в первый день года по григорианскому календарю. Новый год с учётом
    поясного времени начинается в Тихом океане, первой его встречает Республика Кирибати на островах Лайн (часовой пояс UTC+14).
    Позже всех встречает Новый год население Американского Самоа, островов Мидуэй и Ниуэ (часовой пояс UTC−11) — в Кирибати на
    островах Лайн в это время уже 2 января и 1 час пополуночи. Некоторые страны отмечают Новый год по лунному календарю.</p>

<p>С 1 января Новый год впервые стали отмечать в 153 году до н. э., поскольку с этого дня вступали в должность римские консулы.
    В 46 году до н. э. римский полководец и верховный жрец Гай Юлий Цезарь ввёл свой новый календарь («юлианский») и окончательно
    утвердил начало года с 1 января 45 года до н. э. Именно при Цезаре под влиянием астрологии праздник Нового года приобрёл
    самостоятельное значение временной отметки начала года, и, таким образом, положил начало гражданскому году.</p>

<p>
    <ul>
        <li>1 января — Новый год по григорианскому, юлианскому и новоюлианскому календарям.</li>
        <li>Между 21 января и 21 февраля (один из дней) — китайский Новый год (Китай).</li>
        <li>21 или 22 марта — иранский Новый год Навруз (Иран, Азербайджан, Казахстан[9], Киргизия, Таджикистан, Туркмения, Узбекистан).</li>
        <li>С 13 апреля по 15 апреля — Сонгкран (тайск. สงกรานต์) — тайский Новый год.</li>
        <li>14 апреля — бенгальский Новый год (Бангладеш).</li>
        <li>163 дня после Песаха (не раньше 5 сентября и не позже 5 октября) — еврейский праздник Рош ха-Шана (Израиль).</li>
    </ul>
</p>

<p>Старый Новый год — это новогодний праздник, отмечаемый по юлианскому календарю. С 1901 до 2100 года разница между григорианским
    и юлианским календарями составляет 13 дней и, в соответствии с юлианским календарём, Новый год выпадает на ночь с 31 декабря
    (13 января) на 1 января (14 января). Он является, по сути, историческим эхом смены летоисчисления. Отмечается в России,
    Беларуси, Украине, Казахстане, Грузии, Армении, Азербайджане, Сербии, Швейцарии и в других странах мира.</p>
<hr align="center" width="100%" size="3" color="#dddddd" />
    </section>
    <p>
Комментарии:
    </p>
<p><a class="btn btn-secondary" href="/index">Назад</a></p>
{% endblock %}